<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="justify-content:flex-end">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        <% if(user) { %>
          <h1 class="nav-item" style="text-align: center;color:white;font-size:large;margin:auto;padding-left:10px;padding-right:10px;"><%= "Logged In As " + user + "!" %></h1>
          <form method="POST" action="/logout" style="margin:auto;padding-right:10px;text-align:center;">
            <button type="submit" style="background-color:white;border-radius:8px;">Log Out</button>
          </form>
<% } else { %>
  <form method="GET" action="/register" style="margin:auto;padding-right:10px;text-align:center;">
    <button type="submit" style="background-color:white;border-radius:8px;">Register</button>
  </form>
  <form method="GET" action="/login" style="margin:auto;padding-left:10px;text-align:center;">
    <button type="submit" style="background-color:white;border-radius:8px;">Login</button>
  </form>
  <% } %>
      </div>
    </div>
  </nav>
</header>